<ion-fab right top>
  <button ion-fab mini color="light" [hidden]="!fullScreenView"><ion-icon name="more"></ion-icon></button>
  <button ion-fab mini color="save" [hidden]="fullScreenView" (click)="toggleFullScreen()"><ion-icon name="contract"></ion-icon></button>


  <ion-fab-list [hidden]="!fullScreenView">
    <button ion-fab color="load" (click)="selectSite()"><ion-icon name="globe"></ion-icon></button>
    <div class="fab-label">Site</div>
    <button ion-fab color="save" (click)="toggleFullScreen()"><ion-icon name="expand"></ion-icon></button>
    <div class="fab-label">Fill</div>
    <button ion-fab color="danger" (click)="close()"><ion-icon name="arrow-round-back"></ion-icon></button>
    <div class="fab-label">Close</div>
  </ion-fab-list>
</ion-fab>

<ion-content padding>
  <h1>{{selectedSite.name}}</h1>
  <!--chart-->
  <div id="chart" [hidden]="activeChart.name=='Combined Risk'"></div>
  <div [hidden]="!fullScreenView">
    <!--combined risk component-->
    <combined-risk *ngIf="activeChart.name=='Combined Risk'"></combined-risk>
    <div id="selectChart" class="flex wrap" *ngIf="!showTools">
      <div *ngFor="let chart of availableCharts" (click)="setChart(chart)">
        <img src="{{chart.image}}" class="chart-image">
      </div>
    </div>

    <div id="activeChart" class="flex wrap" *ngIf="showTools">
      <img src="{{activeChart.image}}" class="active-chart-image" (click)="showAllCharts()">
      <div id="tools">
        <ion-list>
          <ion-item *ngIf="activeChart.tools.line">
            <ion-label>Line Tool</ion-label>
            <ion-toggle [(ngModel)]="showLineTool"></ion-toggle>
          </ion-item>
          <ion-item *ngIf="activeChart.tools.line">
            <ion-label>Risk</ion-label>
            <ion-toggle [(ngModel)]="showRiskTool" [disabled]="!lineToolValue"></ion-toggle>
          </ion-item>
          <ion-item>
            <button ion-button icon-start full outline (click)="showAllCharts()">
            <ion-icon name="arrow-round-back"></ion-icon>
             All Charts
          </button>
          </ion-item>
        </ion-list>
      </div>
      <!--line tool-->
      <div *ngIf="activeChart.tools.line">
        <div id="lineTool" *ngIf="showLineTool" class="tool-container">
          <h3>Line Tool</h3>
          <ion-input type="number" placeholder="Input a value to test" [(ngModel)]='lineToolValue' (focusout)="lineToolValueChange($event)"></ion-input>
          <button ion-button>apply</button>
          <!--crops-->
          <div>Or select a typical crop value</div>
          <div class="flex">
            <div class="crop-select" *ngFor="let crop of crops" (click)="setCrop(crop)">
              <img src="{{crop.image}}" class="crop-image">
              <div *ngIf="selectedCrop[crop.name]==undefined">{{crop.name}}</div>
              <div class="selected-crop" *ngIf="selectedCrop[crop.name]!==undefined">{{crop.name}}</div>
              <div>{{crop[activeChart.cropTableValue+'Min']}} - {{crop[activeChart.cropTableValue+'Max']}}</div>
            </div>
          </div>
        </div>
        <div id="risk" *ngIf="showRiskTool" class="tool-container">
          <h3>Risk</h3>
          <div id="blocks" class="flex">
            <div class="block good" *ngFor="let block of probabilities.tens.above">1</div>
            <div class="block bad" *ngFor="let block of probabilities.tens.below">1</div>
          </div>
          <div>{{probabilities.tens.above.length}} out of 10</div>
          <div class="flex wrap">
            <div id="calculation">
              <h3>Calculation</h3>
              <div>Points Above: {{probabilities.above}}</div>
              <div>Total Points: {{probabilities.below+probabilities.above}}</div>
              <br>
              <div>
                <div><sup>{{probabilities.above}}</sup>&frasl;<sub>{{probabilities.above+probabilities.below}}</sub> = {{probabilities.percentage
                  | percent:'1.0-0'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>


<ion-nav id="nav" #content [root]="rootPage"></ion-nav>