<ion-header [hidden]="formOpen">
  <ion-navbar color="primary">
    <ion-title>{{'Record Data' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!forms || forms.length==0" style="display: flex">
    <ion-icon name="warning"></ion-icon>
    <div style="margin-left:20px">
      <div>There are no forms available for data submission</div>
      <div>Forms become available when groups are joined from the settings page</div>
    </div>
  </div>
  <div *ngIf="forms && forms.length>0">
    Available forms:
    <ion-card class="form-card" *ngFor="let form of forms" (click)="openForm(form)">
      <ion-card-header>
        <ion-icon name="clipboard"></ion-icon>
        <span style="margin-left:5px">{{form.name | translate}}</span>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>


<!-- <div *ngIf="formOpen" class="form" [style.display]="formDisplay">
  <ion-buttons end>
    <button ion-button icon-right class="form-close" (click)="closeForm()" *ngIf="formOpen">
      <span>{{'Close form'|translate}}</span>
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-buttons>
  <iframe id="form-iframe" class="enketo-iframe" [src]="enketoLink" sandbox="allow-forms allow-modals allow-same-origin allow-scripts allow-top-navigation"></iframe>
</div>

<ion-header [hidden]="formOpen">
  <ion-navbar color="primary">
    <ion-title>{{'Record Data' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-overview" class="background-1">
  <div padding>
    
    <ion-card-content>
                  <div>
                    <table>
                      <tr>
                        <td style="text-align: right">
                          <span style="color:darkgreen">{{submittedForms.reporting.complete.length}}</span>
                        </td>
                        <td>
                          <ion-icon name="checkbox-outline"></ion-icon>
                        </td>
                        <td>
                          <span>{{'Complete Submissions'| translate}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: right">
                          <span style="color:darkgoldenrod">{{submittedForms.reporting.pending.length}}</span>
                        </td>
                        <td>
                          <ion-icon name="cloud-upload"></ion-icon>
                        </td>
                        <td>
                          <span>{{'Pending Upload'| translate}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </ion-card-content>
                
  </div>
  <div id="info" class="footer">
    <button item-right ion-button [disabled]="uploadDisabled" style="width:100%; height:5em; margin:0" color="load" (click)="uploadSavedForms()">
      {{'Upload All Now' | translate}}
      <ion-icon name="upload"></ion-icon>
      <ion-spinner *ngIf="uploadDisabled" name="dots" style="margin-left:5px"></ion-spinner>
    </button>
    <div class="warning">No Internet Access</div>
  </div>
</ion-content> -->