<ion-header>

  <ion-navbar>
    <ion-title>Add New Card</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()" icon-left>
        <ion-icon name="close"></ion-icon>
        Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Name for card</ion-label>
      <ion-input type="text" [(ngModel)]="cardName"></ion-input>
    </ion-item>
  </ion-list>

  <!--Add card-->
  <div>Card Picture</div>
  <div style="position: relative">
    <div class="canvas-container">
      <canvas-whiteboard #canvasWhiteboard [drawButtonClass]="'drawButtonClass'" [drawButtonText]="'Draw'" [clearButtonClass]="'clearButtonClass'"
        [clearButtonText]="'Clear'" [clearButtonEnabled]="true" [undoButtonText]="'Undo'" [undoButtonEnabled]="true" [redoButtonText]="'Redo'"
        [redoButtonEnabled]="true" [colorPickerEnabled]="true" [saveDataButtonEnabled]="false" [saveDataButtonText]="'Save'"
        [strokeColor]="'rgb(91, 45, 0)'" [lineWidth]="7">
      </canvas-whiteboard>
    </div>
  </div>


  <!-- <div class="flex" *ngIf="showNewCardMeta">
      <div class="card">
        <img class="new-card-image" [src]="newCard.Image">
      </div>
      <div class="card-meta">
        <ion-label stacked>Name for card:</ion-label>
        <ion-input type="text" [(ngModel)]="newCard.Name"></ion-input>
        <button ion-button (click)="saveNewCard()">Save</button>
      </div>
    </div> -->

  <ion-item>
    <button ion-button icon-left block (click)="saveCard()" [disabled]="!cardName">
      <ion-icon name="add"></ion-icon>Save Card</button>
  </ion-item>

</ion-content>