page-picsa-manual {
  .pdfViewerContainer
  {
    height: 100vh;
    width:100%;
***REMOVED***

  .pdfViewerFrame
  {
   height:100%;
   width:100%
***REMOVED***

  .viewerNavbar
  {
    /*position: relative; z-index: 2;*/
***REMOVED***
}
