page-picsa-manual {
  .pdfViewerContainer
  {
    height: 100vh;
    width:100%;
  }

  .pdfViewerFrame
  {
   height:100%;
   width:100%
  }

  .viewerNavbar
  {
    /*position: relative; z-index: 2;*/
  }

}
