<ion-header>

  <ion-navbar>
    <ion-title>budgetTool</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>Step 1: Select all of the activities you take part in</div>
  <div class="flex wrap">
    <div class='card' *ngFor="let activity of data.activities; let i=index" (click)="highlight('activities',i)" [class.highlight]="activity.selected">
      <div class="card-title">{{activity.Name}}</div>
      <div class="image-holder"><img [src]="activity.Image"></div>
    </div>
    <button ion-button icon-left>
      <ion-icon name="add"></ion-icon>
        Add Another
    </button>
  </div>
  <button ion-button round icon-start><ion-icon name="arrow-forward"></ion-icon>Continue</button>

  <div>Step 2: When do you do each? Drag the activitiy to the month</div>
  <div class="flex">
    <div *ngFor="let month of months" class="time-period">
      <div>{{month.name}}</div>
      <hr>
      <div *ngFor="let activity of month.activities">
        <div>{{activity.name}}</div>
      </div>
      <div class="card-holder card"></div>
    </div>
  </div>
  <div class="available-cards flex wrap">
    <div class='card' *ngFor="let activity of data.activities" [hidden]="!activity.selected">
      <div class="card-title">{{activity.Name}}</div>
      <div class="image-holder"><img [src]="activity.Image"></div>
    </div>
  </div>




</ion-content>