page-budget-tool {
    .flex{
        display: flex;
  ***REMOVED***
    .wrap{
        flex-wrap: wrap;
  ***REMOVED***
    .card{
        border: 2px solid black;
        border-radius: 5px;
        width: 8em;
        height: 8em;
        padding: 5px;
        margin: 2px;
  ***REMOVED***
    .time-period{
        border: 2px solid black;
  ***REMOVED***
    .image-holder{
        height: 100%
  ***REMOVED***
    img{
        max-width: 100%;
        max-height: 5em;
  ***REMOVED***
    .card-title{
        height: 2em;
        line-height: 1em;        
  ***REMOVED***
    .highlight{
        background-color: #F8FDBF;
        font-weight: 700;
  ***REMOVED***
}
