<!--
  Generated template for the BudgetToolPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>budgetTool</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngFor = "let timePeriod of budget; let i=index">
    <div class='time-period'>Time Period:{{i}}</div>
    <div class='activities block'>
      <div class='card' *ngFor="let card of timePeriod.activities">{{card.id}}</div>
    </div>
  </div>

</ion-content>
