<ion-header>
  <ion-toolbar class="title-bar">
    <div class="title-bar">
      <div class="budget-title">{{ title$ | async | translate }}</div>
      <!-- nav bar for main views -->
      <div *ngIf="(viewComponent$ | async) != 'cell-edit'">
        <ion-button
          class="nav-icon"
          icon-only
          fill="clear"
          (click)="setView(view)"
          *ngFor="let view of views"
          [disabled]="!budget"
          [class.active]="(viewComponent$ | async) == view.component"
        >
          <ion-icon [name]="view.icon" [attr.icon]="view.icon"></ion-icon>
        </ion-button>
        <ion-button
          [disabled]="shareDisabled"
          slot="start"
          fill="clear"
          (click)="shareBudget()"
          *ngIf="(viewComponent$ | async) == 'overview'"
        >
          <ion-icon name="share" attr.icon="share"></ion-icon>
          {{ budgetDownloadMessage ? budgetDownloadMessage : "Share" }}
        </ion-button>
        <ion-button icon-only fill="clear" style="color: black" navPop>
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
      <!-- nav bar for cell edit mode -->
      <div *ngIf="(viewComponent$ | async) == 'cell-edit'">
        <ion-button fill="outline" slot="end" (click)="setView(views[0])">
          {{ "Continue" | translate }}
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<!-- <budget-new-card *ngSwitchCase="'new-card'"></budget-new-card> -->

<ion-content class="background-primary">
  <div style="height: 100%">
    <budget-overview
      [style.display]="
        (viewComponent$ | async) == 'overview' ? 'initial' : 'none'
      "
    ></budget-overview>
    <budget-settings
      [style.display]="
        (viewComponent$ | async) == 'settings' ? 'initial' : 'none'
      "
    ></budget-settings>
    <budget-card-list
      [style.display]="
        (viewComponent$ | async) == 'cell-edit' ? 'initial' : 'none'
      "
    ></budget-card-list>
    <budget-load
      [style.display]="(viewComponent$ | async) == 'load' ? 'initial' : 'none'"
    ></budget-load>
    <div
      padding
      [style.display]="
        (viewComponent$ | async) == 'export' ? 'initial' : 'none'
      "
    >
      Coming Soon...
    </div>
  </div>
</ion-content>
