<ion-header>
  <ion-navbar hideBackButton class="title-bar">
    <div class="title-bar">
      <div class="budget-title">{{title$ | async}}</div>
      <!-- nav bar for main views -->
      <div *ngIf="(viewComponent$ | async) !='cell-edit'">
        <button class="nav-icon" ion-button icon-only clear (click)="setView(view)" *ngFor="let view of views" [disabled]="!budget"
          [class.active]="(viewComponent$ | async)== view.component">
          <ion-icon [name]="view.icon" [attr.icon]="view.icon"></ion-icon>
        </button>
        <button ion-button icon-only clear style="color: black" navPop>
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
      <!-- nav bar for cell edit mode -->
      <div *ngIf="(viewComponent$ | async) =='cell-edit'">
        <button ion-button outline icon-right (click)="setView(views[0])">
          Continue
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<!-- <budget-new-card *ngSwitchCase="'new-card'"></budget-new-card> -->

<ion-content class="background-primary">
  <div style="height: 100%">
    <budget-overview [style.display]="(viewComponent$ | async) =='overview'? 'initial' : 'none'"></budget-overview>
    <budget-settings [style.display]="(viewComponent$ | async) =='settings'? 'initial' : 'none'"></budget-settings>
    <budget-card-list [style.display]="(viewComponent$ | async) =='cell-edit'? 'initial' : 'none'"></budget-card-list>
    <budget-load [style.display]="(viewComponent$ | async) =='load'? 'initial' : 'none'"></budget-load>
    <div padding [style.display]="(viewComponent$ | async) =='export'? 'initial' : 'none'">Coming Soon...</div>

  </div>
</ion-content>




<!-- <ion-fab right top>
  <button ion-fab mini color="light">
    <ion-icon name="more"></ion-icon>
  </button>
  <ion-fab-list>
    <button ion-fab color="new" (click)="newAndLoad('new')">
      <ion-icon name="refresh"></ion-icon>
    </button>
    <div class="fab-label">New</div>
    <button ion-fab color="load" (click)="newAndLoad('load')">
      <ion-icon name="folder-open"></ion-icon>
    </button>
    <div class="fab-label">Load</div>
    <button ion-fab color="save" (click)="saveBudget('save')">
      <ion-icon name="bookmark"></ion-icon>
    </button>
    <div class="fab-label">Save</div>
    <button ion-fab mini color="danger" (click)="close()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>
    <div class="fab-label">Close</div>
  </ion-fab-list>
</ion-fab> -->