.background-primary {
  background-color: var(--ion-color-primary);
  height: 100%;
  color: white;
}
.toolbar-title {
  padding: 0 0 0 12px;
  width: unset;
}
.title-bar {
  display: flex;
  align-items: center;
}
.budget-title {
  color: #424242;
  font-size: 2rem;
  font-weight: 500;
  padding: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  white-space: nowrap;
}
.nav-icon {
  opacity: 0.4;
}
.nav-icon.active {
  opacity: 1;
}
button.nav-icon[disabled] {
  opacity: 0;
}
