<div id="budget" class="budget-container" *ngIf="budget">
  <!-- First column titles places vertically -->
  <div class="time-period">
    <div class="time-period-title cell top-row"></div>
    <div [class]="'cell row-title '+title.label" *ngFor="let title of rowTitles">
      <div>{{title.label}}</div>
      <div *ngIf="title=='Cash Balance'" class="cash-balance">
        <div *ngFor="let dot of dotsArray">
          <!-- <div class=flex (click)="toggleDotEdit()"> -->
          <div class=flex>
            <div>
              <img class="dot-value-image" [src]="'assets/img/budget/'+dot.key+'-positive.png'">
            </div>
            <div *ngIf="!editDotValue">= {{dot.val}}</div>
          </div>
          <div *ngIf="editDotValue">
            <ion-input class="dot-value-input" type="number" [(ngModel)]="dots.large"></ion-input>
            <button ion-button (click)="toggleDotEdit()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Time periods calculated Vertically -->
  <div class="time-period " *ngFor="let period of budget.periods.labels; let i = index">
    <div class="time-period-title cell top-row">{{period}}</div>
    <!--Activities-->
    <div *ngFor="let row of rowTitles" class="cell">
      <div [ngSwitch]="row.type">
        <div *ngSwitchCase="'cashBalance'">Cash Balance</div>
        <budget-cell *ngSwitchDefault [periodIndex]="i" [type]="row.type" [typeLabel]="row.label" [rowLabel]="period"></budget-cell>
      </div>
    </div>




    <div *ngIf="NEED_TO_MIGRATE">
      <!--Inputs-->
      <div class="cell" (click)="edit('inputs',period)">
        <div class="grid-card flex" *ngIf="budget.data[i] && budget.data[i].inputs">
          <div *ngFor="let input of period.inputs; let i=index" class="grow">
            <img class="card-image cell-main" [src]="input.Image">
            <div class="cell-footer flex">
              <div class="dot-value" *ngFor="let dot of input.dots || []">
                <img class="dot-value-image" [src]="dot.src">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Family Labour-->
      <div class="cell" (click)="edit('familyLabour',period)">
        <div class="grid-card" *ngIf="budget.data[i] && budget.data[i].familyLabour">
          <div *ngFor="let person of _toArray(period.familyLabour.people)" class="flex">
            <ion-icon class="family-icon person-icon" name="person"></ion-icon>
            <div *ngFor="let days of _toArray(period.familyLabour.days)">
              <ion-icon class="family-icon clock-icon" name="clock"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <!--Outputs-->
      <div class="cell" (click)="edit('outputs',period)">
        <div class="grid-card" *ngIf="budget.data[i] && budget.data[i].outputs">
          <div *ngFor="let output of period.outputs; let i=index" class="flex">
            <!-- multiple counter -->
            <!-- <div *ngIf="output.quantity <= 5">
                <img class="card-image cell-multiple" [src]="output.Image" *ngFor="let o of output.arrayCounter">
              </div> -->
            <div>
              <img class="card-image cell-multiple" [src]="output.Image">
              <span class="counterBadge">x{{output.quantity}}</span>
            </div>
          </div>
          <div class="cell-footer flex">
            <div class="dot-value" *ngFor="let dot of period.balance.outputs.dots">
              <img class="dot-value-image" [src]="dot.src">
            </div>
          </div>
        </div>
      </div>
      <!--Consumed-->
      <div class="cell" (click)="edit('consumed',period)">
        <div class="grid-card" *ngIf="budget.data[i] && budget.data[i].outputs">
          <div *ngFor="let output of period.outputs; let i=index" class="flex">
            <!-- multiple counter -->
            <!-- <div *ngIf="output.consumed <= 5">
                <img class="card-image cell-multiple consumed" [src]="output.Image" *ngFor="let o of output.arrayCounterConsumed">
              </div> -->
            <div *ngIf="output.consumed>0">
              <img class="card-image cell-multiple consumed" [src]="output.Image">
              <span class="counterBadge consumed">x{{output.consumed}}</span>
            </div>
          </div>
        </div>
      </div>
      <!--balance-->
      <div class="cell Cash">
        <div class="grid-card" *ngIf="budget.data[i] && budget.data[i].balance">
          <div class="one-em number-value">{{period.label}}: {{period.balance.monthly.total | number:'1.0-0'}}</div>
          <div class="flex one-em">
            <div class="dot-value" *ngFor="let dot of period.balance.monthly.dots">
              <img class="dot-value-image" [src]="dot.src">
            </div>
          </div>
          <hr>
          <div class="one-em number-value">Balance: {{period.balance.running.total | number:'1.0-0'}}</div>
          <div class="flex one-em">
            <div class="dot-value" *ngFor="let dot of period.balance.running.dots">
              <img class="dot-value-image" [src]="dot.src">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Totals column -->
  <div class="time-period ">
    <div class="time-period-title cell top-row total-column">Total</div>
    <!--Activities-->
    <div class="cell total-column">
    </div>
    <!--Inputs-->
    <div class="cell total-column">
      <div class="grid-card flex">
      </div>
    </div>
    <!--Family Labour-->
    <div class="cell total-column">
      <div class="grid-card flex">
      </div>
    </div>
    <!--Outputs-->
    <div class="cell total-column">
      <div class="grid-card flex">
      </div>
    </div>
    <!--Consumed-->
    <div class="cell total-column">
      <div class="grid-card flex">
      </div>
    </div>
    <!--balance-->
    <div class="cell total-column Cash">
      <div class="grid-card flex">
      </div>
    </div>
  </div>
</div>