budget-overview {
  // cell height needs to accomodate header, padding and potential scrollbar
  // $cellHeight: calc((100vh - 118px) / 6);
  // also using fixed positioning so that download export has room to populate title
  // where navbar would be
  .scroll-content {
    background-color: white !important;
***REMOVED***
  .budget-container {
    position: fixed;
    top: 0;
    padding-top: 56px;
    display: flex;
    overflow: auto;
    height: 100%;
    background-color: white;
    color: black;
    border-top: 2px solid black;
    border-left: 2px solid black;
***REMOVED***
  .time-period {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
***REMOVED***
  .scroll-content {
    overflow-x: scroll;
***REMOVED***
  .grow {
    flex-grow: 1;
    align-content: center;
***REMOVED***
  .flex-basis {
    flex-basis: 100%;
***REMOVED***
  .card-image {
    max-height: 100%;
    max-width: 100%;
***REMOVED***
  .card-index {
    position: absolute;
    background: rgb(138, 38, 68);
    color: white;
    opacity: 0.9;
    font-size: 0.8em;
    width: 1em;
    height: 1em;
    text-align: center;
***REMOVED***
  .grid-card {
    height: 100%;
    width: 100%;
    min-width: 150px;
***REMOVED***
  .time-period {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    flex-grow: 1;
***REMOVED***
  .row,
  .cell {
    // height: $cellHeight;
    flex-basis: calc((100% - 20px) / 6);
    display: block;
    overflow: auto;
***REMOVED***
  .cell.top-row {
    height: 20px;
    font-size: 16px;
    text-align: center;
    flex-basis: unset;
***REMOVED*** // want last row cells to adjust height to fill with/without scrollbar
  .cell.Cash {
    height: 100%;
***REMOVED***
  .cell.row-title {
    padding: 5px;
    font-size: large;
***REMOVED***
  .cell {
    min-width: 100px;
***REMOVED***
  .cell {
    border-bottom: 1px solid gray;
***REMOVED***
  .cell-footer {
    height: 20px;
    line-height: 1vh;
    font-size: 2vh;
***REMOVED***
  .cell-main {
    height: 8vh;
***REMOVED***
  .cell-multiple {
    max-height: 2em;
***REMOVED***
  .image-holder {
    height: 100%;
***REMOVED***
  img {
    max-width: 100%;
    max-height: 5em;
***REMOVED***
  .card-select-popover {
    width: 80%;
***REMOVED***
  .family-icon {
    padding: 1px;
***REMOVED***
  .person-icon {
    margin-right: 5px;
***REMOVED***
  .dot-value {
    height: 1em;
***REMOVED***
  .dot-value-image {
    max-height: 1em;
    margin: 1px;
***REMOVED***
  .text-input {
    margin: 0;
***REMOVED***
  .one-em {
    height: 1em;
***REMOVED***
  .number-value {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
***REMOVED***
  h1 {
    text-align: center;
    margin: 0;
    font-size: large;
***REMOVED***
  ion-fab[top] {
    top: 0;
***REMOVED***
  .total-column {
    background-color: wheat;
***REMOVED***
  .counterBadge {
    border-radius: 4px;
    background-color: cadetblue;
    color: white;
    position: relative;
    left: -12px;
    top: 4px;
    padding: 2px;
***REMOVED***
  .consumed {
    background-color: lightcoral;
***REMOVED***
}
