<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!selectedSite">{{'Select a site'|translate}}</ion-title>
    <ion-title *ngIf="selectedSite">{{selectedSite.name}}</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-fab right top>
  <button ion-fab mini color="light" [hidden]="!fullScreenView">
    <ion-icon name="more"></ion-icon>
  </button>
  <button ion-fab mini color="save" [hidden]="fullScreenView" (click)="toggleFullScreen()">
    <ion-icon name="contract"></ion-icon>
  </button>
  <ion-fab-list [hidden]="!fullScreenView">
    <button ion-fab color="load" (click)="selectSite()">
      <ion-icon name="globe"></ion-icon>
    </button>
    <div class="fab-label">{{'Site' | translate}}</div>
    <button ion-fab color="save" (click)="toggleFullScreen()">
      <ion-icon name="expand"></ion-icon>
    </button>
    <div class="fab-label">{{'Fill' | translate}}</div>
    <button ion-fab color="danger" (click)="close()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>
    <div class="fab-label">{{'Close' | translate}}</div>
  </ion-fab-list>
</ion-fab> -->

<ion-content padding>
  <site-select *ngIf="!selectedSite"></site-select>
  <div *ngIf="selectedSite">
    <!--chart-->
    <div id="chart" [hidden]="activeChart.name=='Combined Probability'"></div>
    <div [hidden]="!fullScreenView">
      <!--combined probability component-->
      <combined-probability *ngIf="activeChart.name=='Combined Probability'"></combined-probability>
      <div id="selectChart" class="flex wrap" *ngIf="!showTools">
        <div *ngFor="let chart of availableCharts" (click)="setChart(chart)" class="chart-image">
          <img src="{{chart.image}}">
          <div>{{chart.name | translate}}</div>
        </div>
      </div>

      <div id="activeChart" class="flex wrap" *ngIf="showTools">
        <img src="{{activeChart.image}}" class="active-chart-image" (click)="showAllCharts()">
        <div id="tools">
          <ion-list>
            <ion-item *ngIf="activeChart.definition">
              <ion-label>{{'Definition' |translate}}</ion-label>
              <ion-toggle [(ngModel)]="showDefinition"></ion-toggle>
            </ion-item>
            <ion-item *ngIf="activeChart.tools.line">
              <ion-label>{{'Line Tool' | translate}}</ion-label>
              <ion-toggle [(ngModel)]="showLineTool"></ion-toggle>
            </ion-item>
            <ion-item *ngIf="activeChart.tools.line">
              <ion-label>{{'Probability' | translate}}</ion-label>
              <ion-toggle [(ngModel)]="showProbabilityTool" [disabled]="!lineToolValue"></ion-toggle>
            </ion-item>
            <ion-item>
              <button ion-button icon-start full outline (click)="showAllCharts()">
                <ion-icon name="arrow-round-back"></ion-icon>
                {{'All Charts' | translate}}
              </button>
            </ion-item>
          </ion-list>
        </div>
        <!-- definition -->
        <div class="definition" *ngIf="showDefinition && activeChart.definition">{{activeChart.definition | translate}}</div>
        <!--line tool-->
        <div id="lineTool" *ngIf="showLineTool && activeChart.tools.line" class="tool-container">
          <h3>{{'Line Tool' | translate}}</h3>
          <ion-input type="number" placeholder="Input a value to test" [(ngModel)]='lineToolValue' (focusout)="lineToolValueChange($event)"></ion-input>
          <button ion-button>{{'apply' | translate}}</button>
          <!--crops-->
          <div>{{'Or select a typical crop value' | translate}}</div>
          <div class="flex">
            <div class="crop-select" *ngFor="let crop of crops" (click)="setCrop(crop)">
              <img src="{{crop.image}}" class="crop-image">
              <div *ngIf="selectedCrop[crop.name]==undefined">{{crop.name}}</div>
              <div class="selected-crop" *ngIf="selectedCrop[crop.name]!==undefined">{{crop.name}}</div>
              <div>{{crop[activeChart.cropTableValue+'Min']}} - {{crop[activeChart.cropTableValue+'Max']}}</div>
            </div>
          </div>
        </div>
        <div id="probability" *ngIf="showProbabilityTool && activeChart.tools.line" class="tool-container">
          <h3>{{'Probability' | translate}}</h3>
          <div id="blocks" class="flex">
            <div class="block good" *ngFor="let block of probabilities.tens.above">1</div>
            <div class="block bad" *ngFor="let block of probabilities.tens.below">1</div>
          </div>
          <div>{{probabilities.tens.above.length}} {{'out of 10' | translate}}</div>
          <div class="flex wrap">
            <div id="calculation">
              <h3>{{'Calculation' | translate}}</h3>
              <div>{{'Points Above' | translate}}: {{probabilities.above}}</div>
              <div>{{'Total Points'}}: {{probabilities.below+probabilities.above}}</div>
              <br>
              <div>
                <div>
                  <sup>{{probabilities.above}}</sup>&frasl;
                  <sub>{{probabilities.above+probabilities.below}}</sub> = {{probabilities.percentage | percent:'1.0-0'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>


<!-- <ion-nav id="nav" #content [root]="rootPage"></ion-nav> -->