page-record-data {
    span{
        color: white;
  ***REMOVED***
    .form{
        position: absolute;
        top: 0;
        width:100%;
        height: 100%;
        z-index: 2;
        background-color: white
  ***REMOVED***
    .enketo-iframe{
        width:100%;
        height: 100%;
  ***REMOVED***
    .footer{
        position: absolute;
        bottom: 0;
        background-color: wheat;
        padding: 10px;
        width: 100%;
  ***REMOVED***
    .form-header{
        min-height: 56px;
        padding: 4px;
  ***REMOVED***
    .form-close{
        box-shadow: none
  ***REMOVED***
}
