<div *ngIf="formOpen" class="form" [style.display]="formDisplay">
  <ion-buttons end>
    <button ion-button icon-right class="form-close" (click)="closeForm()" *ngIf="formOpen">
      <span>{{'Close form'|translate}}</span>
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-buttons>
  <iframe id="form-iframe" class="enketo-iframe" [src]="enketoLink" sandbox="allow-forms allow-modals allow-same-origin allow-scripts allow-top-navigation"></iframe>
</div>

<ion-header [hidden]="formOpen">
  <ion-navbar color="primary">
    <ion-title>{{'Record Data' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-overview" class="background-1">
  <div padding>
    <ion-card>
      <div class="flex">
        <div style="flex-basis:100%">
          <ion-card-header>{{'Reporting and Feedback Form' | translate}}</ion-card-header>
          <ion-card-content>
            <div>
              <table>
                <tr>
                  <td style="text-align: right">
                    <span style="color:darkgreen">{{submittedForms.reporting.complete.length}}</span>
                  </td>
                  <td>
                    <ion-icon name="checkbox-outline"></ion-icon>
                  </td>
                  <td>
                    <span>{{'Complete Submissions'| translate}}</span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: right">
                    <span style="color:darkgoldenrod">{{submittedForms.reporting.pending.length}}</span>
                  </td>
                  <td>
                    <ion-icon name="cloud-upload"></ion-icon>
                  </td>
                  <td>
                    <span>{{'Pending Upload'| translate}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </ion-card-content>
        </div>
        <div class="hide-l-436">
          <button ion-button icon-left class="card-button" color="save" (click)="openForm2('FeedbackForm')">
            <ion-icon name="add-circle"></ion-icon>
            {{'Record Data' | translate}}
          </button>
        </div>
      </div>
      <div class="show-l-436">
        <button block ion-button icon-left color="save" style="margin:0" (click)="openForm2('FeedbackForm')">
          <ion-icon name="add-circle"></ion-icon>
          {{'Record Data' | translate}}
        </button>
      </div>
    </ion-card>
  </div>
  <div id="info" class="footer">
    <button item-right ion-button [disabled]="uploadDisabled" style="width:100%; height:5em; margin:0" color="load" (click)="uploadSavedForms()">
      {{'Upload All Now' | translate}}
      <ion-icon name="upload"></ion-icon>
      <ion-spinner *ngIf="uploadDisabled" name="dots" style="margin-left:5px"></ion-spinner>
    </button>
    <!-- <div class="warning">No Internet Access</div> -->
  </div>
</ion-content>