<ion-slides>
  <!-- select new/load slide -->
  <ion-slide style="background-color: green">
    <h2>I want to...</h2>
    <button ion-button (click)="startNew()">
      Create a new Budget
    </button>
    <button ion-button (click)="loadSaved()">
      Load a saved Budget
    </button>
  </ion-slide>
  <!-- new budget slide and load budget select -->
  <ion-slide style="background-color: blue">
    <div *ngIf="loadBudgetSlide">
      <h2>Load Saved</h2>
    </div>
    <div *ngIf="newBudgetSlide">
      <h2>New Budget</h2>
      <ion-list>
        <ion-item>
          <ion-label floating>Enter a name for your budget</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Type of Enterprise</ion-label>
          <ion-checkbox [(ngModel)]="crop"></ion-checkbox>
          <ion-checkbox [(ngModel)]="livestock"></ion-checkbox>
          <ion-checkbox [(ngModel)]="other"></ion-checkbox>
        </ion-item>
      </ion-list>
      <button ion-button (click)="createNewBudget()">Continue</button>
    </div>
  </ion-slide>

  <!-- new budget settings slide -->
  <ion-slide *ngIf="newBudgetSlide" style="background-color: red">

  </ion-slide>
</ion-slides>