page-home {
  button{
    height: 100%!important;
    word-wrap: break-word;
  }
  .centre-button{
    height: 90px;
    background-color: white;
  }
  .centre-content{
    width: 90vw;
    height: 380px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .scroll-content{
    background-color: rgba(247, 195, 101, 0.73);
  }
  .centred{
    text-align: center;
  }
}
