page-home {
  
  ion-content{
    height:100%;
    overflow: hidden
  }
  .content, .scroll-content{
    background-color: color($colors, primary-wfp);
    overflow: hidden;
  }
  .title{
    height: 33%;
    display: flex;
    flex-wrap: wrap;
  }
  .links{
    height:67%;
  }
  h1,h2{
    width:100vw;
    color: white;
    opacity: 0.95;
    text-align: center;
  }
  h1{
    font-size: 6em
  }
  h2{
    font-size: 3em
  }
  button{
    height:16.67%!important;
    width: 100%!important;
    word-wrap: break-word;
    border: 1px solid white;
    margin: 0!important;
  }
  // button{
  //   height: 100%!important;
  //   word-wrap: break-word;
  // }
  // .centre-button{
  //   height: 90px;
  //   background-color: white;
  // }
  // .centre-content{
  //   width: 90vw;
  //   height: 380px;
  //   position: absolute;
  //   top:0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   margin: auto;
  // }
  // .scroll-content{
  //   background-color: rgba(247, 195, 101, 0.73);
  // }
  // .centred{
  //   text-align: center;
  // }
}
