<ion-fab right top>
  <button ion-fab mini color="light" (click)="close()"><ion-icon name="close"></ion-icon></button>
</ion-fab>

<ion-content padding>
  <h1>{{selectedSite.SiteName}}</h1>
  <div id="chart"></div>
  <!--<button ion-button menuToggle>Toggle Menu</button>-->

  <div id="selectChart" class="flex" *ngIf="!showTools">
    <div *ngFor="let chart of availableCharts" (click)="setChart(chart)">
      <img src="{{chart.image}}" class="chart-image">
    </div>
  </div>

  <div id="activeChart" class="flex" *ngIf="showTools">
    <img src="{{activeChart.image}}" class="active-chart-image" (click)="showAllCharts()">
    <div id="tools">
      <ion-list>
        <ion-item>
          <ion-label>Line Tool</ion-label>
          <ion-toggle [(ngModel)]="showLineTool"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Risk</ion-label>
          <ion-toggle [(ngModel)]="showRiskTool" [disabled]="!lineToolValue"></ion-toggle>
        </ion-item>
        <ion-item>
          <button ion-button icon-start full outline (click)="showAllCharts()">
            <ion-icon name="arrow-round-back"></ion-icon>
             All Charts
          </button>
        </ion-item>
      </ion-list>
    </div>
    <div id="lineTool" *ngIf="showLineTool" class="tool-container">
      <h3>Line Tool</h3>
      <ion-input type="number" placeholder="Input a value to test" [(ngModel)]='lineToolValue' (focusout)="lineToolValueChange($event)"></ion-input>
      <button ion-button>apply</button>
      <div>Or select a typical crop value</div>
      <div class="flex">
        <div *ngFor="let crop of crops" (click)="setCrop(crop)">
          <img src="{{crop.image}}"  class="crop-image">
          <div *ngIf="selectedCrop[crop.name]==undefined">{{crop.name}}</div>
          <div class="selected-crop" *ngIf="selectedCrop[crop.name]!==undefined">{{crop.name}}</div>
        </div>
      </div>
    </div>
    <div id="risk" *ngIf="showRiskTool" class="tool-container">
      <h3>Risk</h3>
      <div class="flex">
        <div id="percentages">
          <div>Points Above: {{probabilities.above}}</div>
          <div>Points Below: {{probabilities.below}}</div>
          <br>
          <div>{{probabilities.percentage}} of points above</div>
        </div>
        <div id="people">
          <div>This is about ...</div>
          <div>{{probabilities.ratio[0]}}:{{probabilities.ratio[1]}}</div>
        </div>
        <div id="gauge">

        </div>
      </div>
    </div>
  </div>


</ion-content>

<!--<ion-menu [content]="content" [side]="right" [id]="siteMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-label>Select Site</ion-label>
          <ion-select [(ngModel)]="selectedSite" (ionChange)="siteChanged()">
            <ion-option *ngFor="let site of sites" [value]="site">{{site.SiteName}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>Select Chart</ion-label>
          <ion-select [(ngModel)]="selectedChart" (ionChange)="selectChart()">
            <ion-option *ngFor="let column of columns" [value]="column">{{column}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>-->

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>