<!--<ion-header>
  <ion-navbar>
    <ion-title>climateTool</ion-title>
  </ion-navbar>
</ion-header>-->
<ion-fab right top>
  <button ion-fab mini color="light" (click)="close()"><ion-icon name="close"></ion-icon></button>
</ion-fab>

<ion-content padding>
  <div id="chart"></div>
  <button ion-button menuToggle>Toggle Menu</button>
</ion-content>

<ion-menu [content]="content" [side]="right" [id]="siteMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-label>Select Site</ion-label>
          <ion-select [(ngModel)]="selectedSite" (ionChange)="siteChanged()">
            <ion-option *ngFor="let site of sites" [value]="site">{{site.SiteName}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>Select Chart</ion-label>
          <ion-select [(ngModel)]="selectedChart" (ionChange)="selectChart()">
            <ion-option *ngFor="let column of columns" [value]="column">{{column}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>