page-settings {
    ion-list-header{
        
  ***REMOVED***
    .list-header, .list-header-md, .list, .list-md{
        margin-bottom:0
  ***REMOVED***
    .label, .label-md{
        margin-top:10px;
        margin-bottom:10px;
  ***REMOVED***
    .list-title{
        font-weight: 600;
  ***REMOVED***
    .list-value{
        color: darkolivegreen;
        font-weight: 500;
        
  ***REMOVED***
}
