page-settings {
    ion-list-header{
        
    }
    .list-header, .list-header-md, .list, .list-md{
        margin-bottom:0
    }
    .label, .label-md{
        margin-top:10px;
        margin-bottom:10px;
    }
    .list-title{
        font-weight: 600;
    }
    .list-value{
        color: darkolivegreen;
        font-weight: 500;
        
    }
}
