page-view-data {
  .list-row{
    display:flex;
    height: 1.2em;
    .icon{
      width:20px;
      margin:0;}
  }
  .status-message{
    font-size: x-small;
    padding:2px;
    border: 1px solid black;
    border-radius: 2px;
    width:60px;
    color:rgba(255,255,255,0.9);
    text-align: center;
    text-transform: uppercase;
  }
  .submitted{
    background-color: color($colors,load)
  }
  .pending{
    background-color: color($colors,new)
  }
  .list-header{
    margin:0;
  }
}

