page-videos {
    .home {
    margin-top: 56.25vw;
    scroll-content {
        margin-top: 5px !important;
  ***REMOVED***
    ion-card.adv-map p {
        font-size: 0.7em !important;
  ***REMOVED***

    button[fab].fab-map {
        top: calc(100% - 35px);
        z-index: 50;
  ***REMOVED***

    .item-bold {
    font-weight: bold;
  ***REMOVED***

    ion-content.cards-bg {
        background-color: #f4f4f7;
  ***REMOVED***

    .item-text-wrap { /* negate the nowrap CSS from .ionic .item */
        overflow: visible;
        text-overflow: initial;
        white-space: initial;
  ***REMOVED***
}

ion-nav > ion-page > ion-header > .youtube-player-header.toolbar.statusbar-padding:first-child {
    padding-top: 0px;
    height: initial !important;
}

.sixteen-nine {
  position: relative;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.sixteen-nine > .content {
  position: absolute;
  top: -16.5%;
  left: 0;
  right: 0;
  bottom: 0;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

}
