
<ion-header>
  <ion-navbar class="youtube-player-header" dark>
      <div id="player" class="embed-responsive embed-responsive-16by9">
        <div id="placeholder" style="width: 100%" class="embed-responsive-item"></div>
        <div class="embed-responsive-item" style="width: 100%; z-index: 90; background-color: black; background: url('assets/img/placeholder-vid.png'); background-size:cover;" *ngIf = "!onPlaying"></div>
      </div> 
      <!--<div *ngIf="activeVideo">
          <h3>{{activeVideo.snippet.title}}</h3>
          <p>{{activeVideo.snippet.description}}</p>
      </div>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-icon item-left name="cloud-download"></ion-icon>
      My Saved Videos
     </ion-list-header>
      <ion-item>
      <p>No Saved Videos</p>
    </ion-item>
    <ion-list-header>
      <ion-icon item-left name="logo-youtube"></ion-icon>
      All PICSA Videos
      </ion-list-header>
    <ion-card *ngFor="let post of posts" (click)="playVideo($event, post)">
      <ion-item>
        <ion-thumbnail item-left><img src="{{post.snippet.thumbnails.default.url}}"></ion-thumbnail>
        <h2>{{post.snippet.title}}</h2>
      </ion-item>
        <p>{{post.snippet.description}}</p>
        <button ion-button clear item-right>View</button>
    </ion-card>
  </ion-list>  
</ion-content>