$max-app-width: 1024px;
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.fab-label {
  background-color: white;
  opacity: 0.9;
  position: relative;
  top: -8px;
}

.background-1 {
  background-image: url("../assets/img/background-1.png");
}

.modal-wrapper {
  position: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

// *****************************************************
//  app root centering for wide display
// *****************************************************
@media screen and (min-width: $max-app-width) {
  body {
    max-width: $max-app-width;
    left: calc(50% - #{$max-app-width}/ 2);
    background-color: #dedede;
    height: 100vh;
    margin: 0 auto;
***REMOVED*** // add padding, background and curved edges for large devices
  .modal-wrapper {
    left: calc(50% - #{$max-app-width}/ 2);
    top: 0px;
    position: absolute;
    width: $max-app-width;
    height: 100vh; //margin-top:100px;
***REMOVED***
}