page-resources {
    .resource{
        margin: 10px;
  ***REMOVED***
    .resource-name{
        width: 100%;
        text-align: center
  ***REMOVED***
    img{
        height:300px;
  ***REMOVED***
}
