page-resources {
    .resource{
        margin: 10px;
        display: inline-block;
  ***REMOVED***
    .resource-name{
        width: 200px;
        text-align: center
  ***REMOVED***
    img{
        height: 250px;
        width:200px;
        object-fit: cover;
  ***REMOVED***
}
