budget-card {
  ion-card.budget-card {
    cursor: pointer;
    color: black;
    width: unset;
    height: 130px;
    width: 130px;
    display: inline-block;
    text-align: center;
  }
  ion-card.budget-card[selected="true"] {
    font-weight: bold;
    background: color($colors, selected);
  }
  .card-title {
    padding: 5px;
    background: #dcdcdc;
  }
}
