budget-card,
budget-meta-card,
budget-data-card,
budget-new-card {
  ion-card.budget-card {
    cursor: pointer;
    color: black;
    width: unset;
    height: 130px;
    width: 130px;
    display: inline-block;
    text-align: center;
***REMOVED***
  ion-card.budget-card[selected="true"] {
    font-weight: bold;
    background: color($colors, selected);
***REMOVED***
  .card-title {
    padding: 5px;
    background: #dcdcdc;
***REMOVED***
  .card-title.add {
    background: transparent;
***REMOVED***
}
