<ion-card [class]="'budget-card selectable '+type" [attr.selected]="selected">
  <div style="display: flex">
    <div>
      <budget-card-image [imageId]="card.id" [imageData]="card.customImg" (click)="cardClicked()"></budget-card-image>
      <!-- <div *ngIf="card.custom">
        <button ion-button icon-only>
          <ion-icon name="create"></ion-icon>
        </button>
      </div> -->
    </div>
    <div *ngIf="selected">
      <div [ngSwitch]="type">
        <!-- quantity and cost -->
        <ion-list *ngSwitchCase="'inputs'" class="card-inputs-list">
          <ion-item>
            <ion-label stacked>How many units?</ion-label>
            <ion-input type="number" [(ngModel)]="card.quantity" (ionBlur)="triggerUpdate()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Unit cost (MK)</ion-label>
            <ion-input id="unitCost" [(ngModel)]="card.cost" type="number" (ionBlur)="triggerUpdate()"></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <div [class]="'card-title '+card.id">{{card.name}}</div>
</ion-card>