page-budget-tool {
    #budget{
        padding: 10px;
    }
    .scroll-content{
        overflow-x: scroll;
    }
    
    .grow{
        flex-grow: 1;
        align-content: center;
    }
    .flex-basis{
        flex-basis: 100%
    }
    .card-image{
        max-height: 100%;
        max-width: 100%;
    }
    .card-index{
        position: absolute;
        background: rgb(138, 38, 68);
        color: white;
        opacity: 0.9;
        font-size: 0.8em;
        width:1em;
        height: 1em;
        text-align: center
    }
    .grid-card{
        height: 100%;
        width:100%;
    }
    .time-period{
        border: 2px solid black;
        flex-grow: 1;
    }
    .row, .cell{
        height: 15vh;
        display: block; 
    }
    .cell{
        min-width: 100px;
    }
    .top-row{
        height:3vh;
        line-height: 3vh;
        font-size: 2vh;
        text-align: center;
    }
    .cell{
        border-bottom: 1px solid gray;
    }
    .cell-footer{
        height: 2vh;
        line-height: 1vh;
        font-size: 2vh
    }
    .cell-main{
        height:8vh;
    }
    .image-holder{
        height: 100%
    }
    img{
        max-width: 100%;
        max-height: 5em;
    }


    .card-select-popover{
        width: 80%
    }
    .family-icon{
        padding: 1px;
    }
    .person-icon{
        margin-right:5px
    }
    .dot-value{
        height: 1em;
    }
    .dot-value-image{
        max-height: 1em;
        margin: 1px;
    }
    .text-input{
        margin:0
    }
}
