budget-cell {
  .budget-cell-container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  .add-cell-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .add-cell-data-icon {
    font-size: 36px;
    color: color($colors, primary);
    opacity: 0.3;
  }
}
