<div class="budget-cell-container" (click)="editCell()">
  <div *ngIf="cellData">
    <div [ngSwitch]="type" style="height:100%">
      <div *ngSwitchDefault style="display: flex; flex-wrap: wrap">
        <budget-card-image *ngFor="let card of cellData" [class]="cellData.length>1?'small':'medium'" [imageId]="card.id" [imageData]="card.customImg"></budget-card-image>
      </div>
    </div>
  </div>
  <div *ngIf="!cellData" class="add-cell-data">
    <ion-icon name="add" class="add-cell-data-icon"></ion-icon>
  </div>
</div>