budget-card-image {
  img.card-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin: auto;
***REMOVED***
  img.card-image.add {
    height: 60px;
    width: 60px;
    margin-top: 20px;
***REMOVED***

  .card-image-holder {
    padding: 2px;
***REMOVED***
}

budget-card-image.small {
  img.card-image {
    height: 45px;
    width: 45px;
***REMOVED***
}
