budget-card-image {
  img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin: auto;
***REMOVED***
  img.add {
    height: 60px;
    width: 60px;
    margin-top: 20px;
***REMOVED***

  .card-image-holder {
    padding: 2px;
***REMOVED***
}
