<!-- image loaded from file -->
<div [ngSwitch]="source" *ngIf="!imageData" class="card-image-holder">
  <img *ngSwitchCase="'svg'" [src]="'assets/img/budget/cards/'+imageId+'.svg'" (error)="svgError()" [class]="imageId">
  <img *ngSwitchCase="'png'" [src]="'assets/img/budget/cards/'+imageId+'.png'" (error)="pngError()" [class]="imageId">
  <img *ngSwitchDefault src="assets/img/budget/cards/no-image.png">
</div>

<!-- image loaded from custom drawing -->
<div *ngIf="imageData" class="card-image-holder">
  <img [src]="imageData" [class]="imageId">
</div>