<ion-header>

  <ion-navbar>
    <ion-title>Record Data</ion-title>
    <ion-buttons end>
      <button (click)="refresh()">
        <span *ngIf="!finished">Refreshing forms...</span>
        <span *ngIf="anyErrors">Error</span>
        <span *ngIf="finished && !anyErrors">Refresh</span>
        <ion-icon name="refresh" *ngIf="finished || anyErrors"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="forms-overview">
  <h2>Available Forms</h2>
  <ion-list>
    <ion-item *ngFor="let form of forms">
      <ion-icon name="clipboard" item-left *ngIf="form.downloadable"></ion-icon>
      <ion-icon name="clipboard" light-grey item-left *ngIf="!form.downloadable"></ion-icon>
      <h2>{{form.title}}</h2>
      <p>{{form.date_modified | date:'medium'}}</p>
      <button clear item-right (click)="openForm(form)" *ngIf="form.enketoLink && form.downloadable">
        <ion-icon name="open"></ion-icon>
        Open Form
      </button>
    </ion-item>
  </ion-list>
  <div id="info">
    <h3>Info</h3>
    <p>If you have internet the app will attempt to contact the kobo server and return forms from a demo account.</p>
    <p>Once downloaded, links will be generated to complete the form using Enketo. Once the form has been opened once it is cached to work without internet.</p>
  </div>


</ion-content>
