budget-load {
  .budget-load-container {
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
***REMOVED***
}
