budget-load {
  .budget-load-container {
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
***REMOVED***
  .saved-budgets-container {
    overflow: auto;
    max-height: 66vh;
***REMOVED***
  .saved-details:hover {
    font-weight: bold;
***REMOVED***
  .item {
    cursor: pointer;
***REMOVED***
}
