page-error {
  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .error-image {
    object-fit: contain;
    max-height: 33%;
  }
  .reload-button {
    margin-top: 2em;
  }
}
